---
- include: pyenv.yml

- name: Install versions
  command: "{{ pyenv_root }}/bin/pyenv install {{ item }}"
  args:
    creates: "{{ pyenv_root }}/versions/{{ item }}"
  with_items: "{{ pyenv_versions }}"

- include: versions.yml
  versions: "{{ pyenv_default_versions }}"
  dest: "{{ pyenv_root }}/version"

- include: versions.yml
  versions: "{{ pyenv_project_versions }}"
  dest: "{{ pyenv_project_root }}/.python-version"

- name: Add pyenv to run commands
  blockinfile:
    path: "{{ pyenv_runcom }}"
    marker: "# {mark} pyenv"
    state: present
    create: yes
    content: "{{ lookup('template', 'templates/runcom.j2') }}"
