---
- name: Install ansible requirements
  pip:
    name: "{{ item }}"
  become: true
  become_user: root
  with_items:
    - jmespath

- include: pyenv.yml
  tags:
    - pyenv

- include: mirror.yml
  tags:
    - versions
  when: pyenv_mirror is defined

- name: Install python versions
  tags:
    - versions
  command: "{{ pyenv_root }}/bin/pyenv install {{ item }}"
  args:
    creates: "{{ pyenv_root }}/versions/{{ item }}"
  with_items:
    - "{{ pyenv_versions }}"
    - "{{ pyenv_global_version }}"
    - "{{ pyenv_project_versions|json_query('[*].version') }}"

- name: Set global python version
  tags:
    - global
  lineinfile:
    path: "{{ pyenv_root }}/version"
    regexp: "^{{ pyenv_global_version }}"
    line: "{{ pyenv_global_version }}"
    create: yes
  when: pyenv_global_version is defined

- include: pip.yml
  tags:
    - pip
  when: pyenv_pip_mirror is defined

- include: project.yml
  tags:
    - projects
  with_items: "{{ pyenv_project_versions }}"
  loop_control:
    loop_var: outer_project
