---
- include: debian/pyenv.yml
  when: ansible_os_family == 'Debian'

- include: osx/pyenv.yml
  when: ansible_os_family == 'Darwin'

# FIXME: Debian or Darwin should use the same installation way for simplicity and consistency
- name: Install
  git:
    repo: https://github.com/yyuu/pyenv.git
    dest: "{{ pyenv_root }}"

# FIXME: Do not include pyenv-virtualenvwrapper
- name: Install virtualenv
  git:
    repo: "https://github.com/yyuu/{{ item }}.git"
    dest: "{{ pyenv_root }}/plugins/{{ item }}"
  with_items:
    - pyenv-virtualenv
  when: pyenv_virtualenv
